html {
    scroll-behavior: smooth;
}

.projects:target::before {
    content: "";
    display: block;
    height: 4rem;
    margin: -1rem 0 0;
  } 
  
body{
    font-family: 'Noto Sans', sans-serif;
}

.navbar{ background:#FDEDD0}

.navbar-collapse{ justify-content: flex-end;}

.welcome{
    background-image:  linear-gradient(to bottom right,#7F7FD5,#86A8E7, #91EAE4);
}

h1{
    font-size: 3rem;
}
.welcome p{
    font-size: 1.25rem;
}


h1,h2{
    color: #FDEDD0;
}
img{
    border-radius: 50%;
    width: 200px;
}

.projects{
    background-color: #FF634D;
}

.card{
    margin-top: 1rem;
}
.card-header{
    text-align: center;
}

.socials{
    background-color: #FD795B; 
}

.fa{
    color: #FDEDD0;
}

.fa:hover{
    color:#fad899;
}